
<div class="jumbotron text-center">
    <h1>Inventory. Spend.</h1>
    <h3>Keep up to date with your Mars SMS account.</h3>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h2 class="text-center">Explorer</h2>
            <h4 class="text-center">Sign up for free and see what the mars sms team can do for you!</h4>
            <%= link_to "Basic Sign Up", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well">
            <h2 class="text-center">Pro</h2>
            <h4 class="text-center">Already leveraging our sms services, get to all the info you need.</h4>
            <%= link_to "Pro Sign up", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>
        </div>
    </div>
</div>